body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/************ Header Styles ************/ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 10vw;
    height: 10vh;
}

.logo-img {
    height: 10vh;
}

.link ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.link a:hover {
    color: #b8babd;
}

/************ Hero Styles ************/ 

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 10vh 10vw;
    gap: 16px;
}

.hero-txt {
    flex: 1 600px;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 36px;
}

.hero a, .ad-button {
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px 12px;
    border-style: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.hero a:hover, .ad-button:hover {
    color: #ADECFF;
}

.hero-img-container {
    flex: 1 800px;
    max-width: 1000px;
}

.hero-img {
    width: 100%;
}

/************ Members ************/ 

.member {
    padding-top: 5vh;
    padding-bottom: 12vh;
}

.member h2 {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    margin-top: 0;
    margin-bottom: 5vh;
}

.member-flex {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.member-container p{
    font-size: 18px;
    text-align: center;
}

.member-container img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 180px;
    width: 180px;
}

/************ Quote ************/ 

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 10vh 20vw;
}

.quote {
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
    font-style: italic;
    text-decoration: none;
}

.quote:hover {
    text-decoration: underline;
}

.author {
    font-size: 24px;
    align-self: flex-end;
}

/************ Advert ************/ 

.ad-container {
    display: flex;
    padding: 5vh 10vw;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ad-img { 
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 100%;
    max-width: 500px;
}

.ad-box { 
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 2vh 3vw;
    justify-content: space-between;
}

.ad-button {
    border: 2px solid #F9FAF8;
}

.ad-txt {
    color: #F9FAF8;
}

.ad-txt h3 {
    font-size: 24px;
    margin: 8px 0;
}

.ad-txt p {
    width: 400px;
    margin-top: 0;
    margin-bottom: 8px;
}

/************ Footer ************/ 

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 2vh 0;
}

.footer-txt { 
    color: #F9FAF8;
}