body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/************ Header Styles ************/ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 10%;
    height: 10vh;
}

.logo-img {
    height: 10vh;
}

.link ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/************ Hero Styles ************/ 

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 5% 10%;
    gap: 16px;
}

.hero-txt {
    flex: 1 600px;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero button {
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px 12px;
    border-style: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
}

.hero-img-container {
    flex: 1 800px;
    max-width: 1000px;
}

.hero-img {
    width: 100%;
}